@{
    ViewBag.Title = "About";
}
<div class="container" style="background-color: rgb(174, 154, 147); font-weight: bold; font-size: small">
    <div class="row my-3 kutu">
        <div class="col-xl-12 bg-dark kutuBaslik"> @Html.Label(odev.Kaynaklar.lang.cevap_bekleyen)</div>

        <div class="col-xl-2 kutuIcıSol"> Anıl Aksakal</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">i5 10400F sistem Windows 10 mavi ekran hatası</a></div>
        <div class="col-xl-2 kutuIcıSag"> 26 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Uhudhan Ates</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Samsung 870 EVO SSD güncelleme sonrası yaşanan durum</a> </div>
        <div class="col-xl-2 kutuIcıSag"> 11 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Onurcan Yılmaz</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">Soru Origin hesabına giremiyorum</a></div>
        <div class="col-xl-2 kutuIcıSag"> 7 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Yusuf Elmas</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">''AHCI link Power management - HIPM/DIPM'' ayarı ne işe yarıyor?</a></div>
        <div class="col-xl-2 kutuIcıSag"> 12 @Html.Label(odev.Kaynaklar.lang.kasim) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Doğukan Çokgörmez</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">MBR sisteme nasıl dual boot olarak saf debian kurulur?</a> </div>
        <div class="col-xl-2 kutuIcıSag"> 18 @Html.Label(odev.Kaynaklar.lang.kasim) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Emre Gür</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">Redmi K20 Pro vs Poco X3 Pro</a></div>
        <div class="col-xl-2 kutuIcıSag"> 17 @Html.Label(odev.Kaynaklar.lang.kasim) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Ezgi Üçok</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">MediaTek Dimensity 9000, tüm zamanların rekorunu kırdı!</a></div>
        <div class="col-xl-2 kutuIcıSag"> 2 @Html.Label(odev.Kaynaklar.lang.kasim) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Hüseyin Elma</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Samsung 870 EVO SSD güncelleme sonrası yaşanan durum</a> </div>
        <div class="col-xl-2 kutuIcıSag"> 11 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>
    </div>
</div>

