@{
    ViewBag.Title = "Contact";
}

<div class="container" style="background-color: rgb(174, 154, 147); font-weight: bold; font-size: small">
    <div class="row my-3 kutu">
        <div class="col-xl-12 bg-dark kutuBaslik"> @Html.Label(odev.Kaynaklar.lang.son_eklenen)</div>
        
        <div class="col-xl-2 kutuIcıSol"> Uhudhan Ates</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">Monitördeki piksel rengi değişimi</a></div>
        <div class="col-xl-2 kutuIcıSag"> 25 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Doğanur Özdemir</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Epic Games kurulumunda Windows Installer hatası</a></div>
        <div class="col-xl-2 kutuIcıSag"> 25 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Merve Yılmaz</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">OBS ekran yakalamadaki pencere görünmüyor?</a></div>
        <div class="col-xl-2 kutuIcıSag"> 24 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Hüseyin Elma</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">TurkNet ve D-Smart </a></div>
        <div class="col-xl-2 kutuIcıSag"> 23 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Uhudhan Ates</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">Windows 10 sıfırlarsam lisansım gider mi?</a></div>
        <div class="col-xl-2 kutuIcıSag"> 18 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> İlker Kaplan</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Uzak sunucu yönetim aracı kurulurken 0x8024001d hatası</a></div>
        <div class="col-xl-2 kutuIcıSag"> 17 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Şevki Yılmaz</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Discord kullanıcı ID'den sunucu nasıl bulunur?</a></div>
        <div class="col-xl-2 kutuIcıSag"> 17 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>

        <div class="col-xl-2 kutuIcıSol"> Hüseyin Şevki Topuz</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">MSI Laptop M.2 SSD'yi UEFI Modda Görmüyor </a></div>
        <div class="col-xl-2 kutuIcıSag"> 16 @Html.Label(odev.Kaynaklar.lang.aralik) 2021</div>
    </div>

</div>